.header {
    background-color:#1F2937;

}

.logo {
    font-size:24px;
    color:#F9FAF8;

}

.content {
    background-color:white;

}

.nicecolor {
    background-color:#E5E7EB;

}

.container {
    background-color:white;

}

.footer {
    background-color:#1F2937
}

ul {
    list-style-type:none;

}

a {
    text-decoration:none;
    font-size:18px;
    color:#E5E7EB;
}

.boldtext1 {
    font-size:48px;
    color:#F9FAF8;
    font-weight:bolder;
}

.sampletext {
    font-size:18px;
    color:#E5E7EB;
}

button {
    background-color: #3882F6;
    color:white;
    padding:8px 16px;
     
}
.infotitle {
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.quote {
    font-size:36px;
    color:#1F2937;
    font-style:italic;
}

.quoter {
    color:#1F2937;
    font-weight:bold;
}

.container2 {
    background-color:#3882F6;
}

.suptitle {
    font-weight:bold;
    
}

.footer {
    color:white;
}