body {
    display:flex;
    flex-direction:column;
    margin:0px;
    justify-content: center;
    flex:1;
    
}


.header {
    background-color:#1F2937;
    flex:1;

    
}

.logo {
    font-size:24px;
    color:#F9FAF8;
    font-weight:bold;

}

.content {
    background-color:white;

}

.nicecolor {
    background-color:#E5E7EB;

}

.container {
    background-color:white;

}

.footer {
    background-color:#1F2937
}

ul {
    list-style-type:none;
    display:flex;
    gap:8px;
    margin:0px;
    padding:0px;

}

a {
    text-decoration:none;
    font-size:18px;
    color:#E5E7EB;
}

.boldtext1 {
    font-size:48px;
    color:#F9FAF8;
    font-weight:bolder;
}

.sampletext {
    font-size:18px;
    color:#E5E7EB;
}

button {
    background-color: #3882F6;
    color:white;
    padding:8px 16px;
    
    
    
     
}
.infotitle {
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.nicequote {
    font-size:36px;
    color:#1F2937;
    font-style:italic;
    display:flex;
    text-align:center;
    justify-content: center;
    align-content:center;
    padding:20px;
    margin:40px;
    
}

.quoter {
    color:#1F2937;
    font-weight:bold;
    display:flex;
    align-items:baseline;
    justify-content:right;
    padding:0 32px;
    margin-bottom:30px; 
    margin-right:200px;
    
}

.container2 {
    background-color:#3882F6;
}

.suptitle {
    font-weight:bold;
    
}

.footer {
    color:white;
}

.verytop {
    display:flex;
    justify-content: space-between;
    margin-bottom:80px;
    padding:16px;
    align-items:center;
    gap:16px;
    

}

.topright {
    gap:20px;
}

.layout {
   display:flex;
   justify-content: space-evenly;
   padding:160px;
    
  

}

img {
    background-color:grey;
    width:400px;
    height:300px;
    
    
}

.leftsidey {
   margin-left:142px;
   margin-bottom:30px;
   gap:20px;
   flex-wrap:wrap;
   width:400px
}

.boldtext1 {
    margin-bottom:20px;
}

.sampletext {
    margin-bottom:20px;
}

.content {
    display:flex;
    justify-content: center;
    text-align:center;
    gap:20px;  
    margin-bottom:50px;
}

.infotitle {
    text-align:center;
    margin-top:60px;
    margin-bottom:50px;
}

.info img {
    width:300px;
    length:50px;
    margin-bottom:16px;
}
